<div class="form-container text-center">
  <%= form_for @codereview do |f| %>
  <div class="form-title"><h2>Edit Code Review Request</h2></div>
    <div>
      <div class="form-title"><%= f.label :url %></div>
      <%= f.url_field :url, class: "form-field" %>
    </div>

    <div>
      <div class="form-title"><%= f.label :description %></div>
      <%= f.text_area :title, id:"Title", class: "form-field" %>
    </div>

    <%= f.submit 'Submit', class: "submit-container" %>
  <% end %>
</div>
