<%= form_for @codereview do |f| %>
  <div>
    <%= f.label :url %>
    <%= f.url_field :url %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :title, id:"Title" %>
  </div>

  <%= f.submit 'Submit' %>
<% end %>
