<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
  <div class="text-center">
    <%= form_for @codereview do |f| %>
    <div class="form-title"><h4>Request Code Review</h4></div>
      <div>
        <div class="form-title"><%= f.label :url %></div>
        <%= f.url_field :url, placeholder: "Enter URL", class: "form-field" %>
      </div>

      <div>
        <div class="form-title"><%= f.label :description %></div>
        <%= f.text_area :title, placeholder: "Enter description, please provide the reviewer with enough information", id:"Title", class: "form-field" %>
      </div>

      <%= f.submit 'Submit', class: "btn btn-primary" %>
    <% end %>
  </div>
