<h4>Resources</h4>
<div class="add-link"><%= link_to 'Add a link', new_post_path, class: "btn btn-primary btn-lg" %></div>

<% if @posts.any? %>

  <div class="filter-tags">
    Filter by tags:
    <%= link_to "All", posts_path, class: "btn btn-primary btn-xs" %>
    <% Tag.all.each do |tag| %>
      <span><button class="btn btn-default btn-xs"><%= tag_link(tag) %></button></span>
    <% end %>
  </div>

  <% @posts.each do |post| %>

      <div class="">
        <div class="posts-row">

          <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 likes-dislikes">
            <p>
              <%= link_to 'Like', post_likes_path(post), method: :post %>
            </p>
            <p class="likes-count"><%= post.likes.count %></p>
            <p class="dislikes-count"><%= post.dislikes.count %></p>
            <p>
              <%= link_to 'Dislike', post_dislikes_path(post), method: :post %>
            </p>
          </div>

          <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 posts-content">
            <div class="glyphicon glyphicon-link"></div> <%= link_to post.link, "http://#{post.link}" %>

            <div class="post-title"><%= post.title %></div>

            <div class="post-comments"><%= link_to "Comments: ", post_path(post) %><span class="badge"><%= post.comments.count %></span></div>

            <div class="posted-by">
              <a href="<%= post.user.gitpage if post.user %>"><img src="<%= post.user.image if post.user %>" class="img-circle"></a>
            </div>

            <div class="">
              tags: <%= post.all_tags %>
              <% if post.user == current_user %>
                <%= link_to 'Edit', edit_post_path(post) %>
                <%= link_to "Delete", post_path(post), method: :delete %>
              <% end %>
            </div>
          </div>

        </div>
      </div>

  <% end %>
<% else %>
No links yet
<% end %>
