<% if @posts.any? %>
  <% @posts.each do |post| %>
    <article>
      <p><%= post.title %></p>
      <%= link_to post.link, "http://#{post.link}" %>
      <p>posted by: <%= post.author %></p>
      <p><%= post.all_tags %></p>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= button_to "Delete", post_path(post), method: :delete %>
    </article>
  <% end %>
<% else %>
No links yet
<% end %>
<%= link_to 'Add a link', new_post_path %>
