<%= form_for @post, html: { id: "post_#{@post.id}" } do |f| %>
  <section>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
  
    <div>
      <%= f.label :link %>
      <%= f.text_field :link %>
    </div>

    <div>
      <%= f.label :tags %>
      <%= f.text_field :all_tags, placeholder: "Tags seperated with comma" %>
    </div>
  </section>
  <%= f.submit 'Submit' %>
<% end %>