<p>Title: <%= @post.title %> </p>
<p>Link: <%= @post.link %></p>
<p>Tags: <%= @post.all_tags %></p>
<p>Description </p>


<h3>Comments: </h3>

<%= render @post.comments %>

 <%= link_to 'Leave Comment', new_post_comment_path(@post) %>
