<!DOCTYPE html>
<html>
<head>
  <title>Makerbase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css">
  <link rel="stylesheet" href="css/stylesheet.css">
</head>
<body>
  <div class="container-fluid col-md-8 col-md-offset-2">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">

          <a class="navbar-brand" href="/">
            <img alt="Makerbase" src="https://pbs.twimg.com/profile_images/3087236754/91e379b7e0006d38ee0526946a38a1ea_bigger.png">
          </a>

            <span class="navbar-text">Maker::BASE</span>

        </div>
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav navbar-btn navbar-right" %>
            <% end %>
      </div>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

  </div>
</body>
</html>
